<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.rk.bookshare.dao.CommentMapper">
  <resultMap id="BaseResultMap" type="xyz.rk.bookshare.model.Comment">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="bookid" jdbcType="INTEGER" property="bookid" />
    <result column="userid" jdbcType="INTEGER" property="userid" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from comment
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="xyz.rk.bookshare.model.Comment">
    insert into comment (id, bookid, userid,
      content, createtime)
    values (#{id,jdbcType=INTEGER}, #{bookid,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, 
      #{content,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="xyz.rk.bookshare.model.Comment">
    update comment
    set bookid = #{bookid,jdbcType=INTEGER},
      userid = #{userid,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, bookid, userid, content, createtime
    from comment
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, bookid, userid, content, createtime
    from comment
  </select>
  <select id="selectByBookId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, bookid, userid, content, createtime
    from comment
    where bookid = #{bookId,jdbcType=INTEGER}
  </select>


</mapper>