<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.rk.bookshare.dao.OrderMapper">
  <resultMap id="BaseResultMap" type="xyz.rk.bookshare.model.Order">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="bookid" jdbcType="INTEGER" property="bookid" />
    <result column="userid" jdbcType="INTEGER" property="userid" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="sellerid" jdbcType="INTEGER" property="sellerid" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from bookshare.order
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="xyz.rk.bookshare.model.Order">
    insert into bookshare.order (id, bookid, userid,
      createtime, status, sellerid
      )
    values (#{id,jdbcType=INTEGER}, #{bookid,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, 
      #{createtime,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER}, #{sellerid,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="xyz.rk.bookshare.model.Order">
    update bookshare.order
    set bookid = #{bookid,jdbcType=INTEGER},
      userid = #{userid,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER},
      sellerid = #{sellerid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, bookid, userid, createtime, status, sellerid
    from bookshare.order
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, bookid, userid, createtime, status, sellerid
    from bookshare.order
  </select>

  <select id="selectByUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, bookid, userid, createtime, status, sellerid
    from bookshare.order where userid = #{userId,jdbcType=INTEGER}
  </select>

  <select id="selectBySellerId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, bookid, userid, createtime, status, sellerid
    from bookshare.order where sellerid = #{sellerId,jdbcType=INTEGER}
  </select>

</mapper>