<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.rk.bookshare.dao.ReplyMapper">
  <resultMap id="BaseResultMap" type="xyz.rk.bookshare.model.Reply">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="userid" jdbcType="INTEGER" property="userid" />
    <result column="commentid" jdbcType="INTEGER" property="commentid" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from reply
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="xyz.rk.bookshare.model.Reply">
    insert into reply (id, userid, commentid,
      content, createtime)
    values (#{id,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{commentid,jdbcType=INTEGER}, 
      #{content,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="xyz.rk.bookshare.model.Reply">
    update reply
    set userid = #{userid,jdbcType=INTEGER},
      commentid = #{commentid,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, userid, commentid, content, createtime
    from reply
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, userid, commentid, content, createtime
    from reply
  </select>

  <select id="selectByCommentId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, userid, commentid, content, createtime
    from reply
    where commentid = #{commentId,jdbcType=INTEGER}
  </select>

</mapper>